:root {
  --red: #db0007;
  --yellow: #ffcc00;
}

.tippy-box[data-theme~="wow-dark"] {
  background-color: black;
  color: white;
  padding: 4px;
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.3);
  text-align: left;
  border-radius: 12px;
  max-width: none !important; /* 🚫 解除內建限制 */
}

.tippy-box[data-theme~="wow-dark"] .tippy-arrow {
  color: var(--red);
}
